#calculadora {
    background: rgb(196, 132, 226);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#calculadora input {
   background: rgb(20, 19, 20);
   color: rgb(238, 231, 231);
   padding: 5px;
   border-radius: 5px;
}
#sptotal {
    background: black;
    color:rgb(196, 132, 226);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#calculadora button {
    background: rgb(117, 84, 117);
    color: rgb(248, 237, 237);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;

}
#calculadora button:hover {
    background: rgb(90, 19, 90);
    color: rgb(234, 217, 240);
    cursor: pointer;
}

