#calculadora {
    background: rgb(77, 216, 170);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#calculadora input {
    background: rgb(182, 250, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#sptotal {
    background: rgb(230, 230, 230);
    color: rgb(84, 230, 233);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#calculadora button {
    background: rgb(68, 128, 118);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadora button:hover{
    background: rgb(236, 222, 212);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
h3 {
    color: rgb(68, 124, 107);

}
.calcF{
    display: none;
}
#input-calcF {
    display: none;
}
#input-calcF:checked + .calculadora .calcF {
    display: block;
}
